* {
  initial: all;
  margin: 0;
  padding: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body
{
  height: min-content;
}

progress::-webkit-progress-bar {
  background: #8C9EFF;
}

progress::-webkit-progress-value {
  background: #3D5AFE;
}

body {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section.playback {
  display: grid;
  min-height: 80px;

  justify-items: center;
  align-items: center;

  grid-template-rows: 4px 1fr;
  grid-template-columns: 24px min-content min-content 1fr min-content 24px;
  grid-column-gap: 8px;
}

section.playback progress {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 6;
  height: 4px;
  width: 100%;
  align-self: stretch;
  justify-self: stretch;
  -webkit-appearance: none;
  background: white;
}

section.playback button,
section.playback .text {
  grid-row-start: 2;
  grid-row-end: span 1;
}

section.playback button {
  height: 36px;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  min-width: 88px;

  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-end: span 1;

  box-shadow:
    0 0 4px rgba(0, 0, 0, 0.14),
    0 3px 4px rgba(0, 0, 0, 0.12),
    0 1px 5px rgba(128, 128, 128, 0.2);
}

section.playback button.settings,
section.playback button.speed
/*section.playback button.close*/
{
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;

  min-width: 36px;
  width: 68px;

  content: '';
  color: transparent;
}
/*ic_clear_black_36dp_1x*/
section.playback button.settings {
  grid-column-start: 2;
  background-image: url('/images/settings.png');
  /*background-image: url('/images/ic_settings_black_36dp_1x.png');*/
}

section.playback button.speed {
  grid-column-start: 3;
  background-image: url('/images/rewind.png');
  /*background-image: url('/images/ic_fast_rewind_black_36dp_1x.png');*/
}

section.playback button.close {
  grid-column-start: 5;
  /*background-image: url('/images/ic_clear_black_36dp_1x.png');*/
}

/*.playback button.playback {
}*/

section.playback .text {
  grid-column-start: 4;
  grid-column-end: span 1;
  justify-self: stretch;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 35px
}

section.settings {
  justify-self: stretch;
  align-self: stretch;
  background: white;
}

section.settings
nav.navigation.tabs {
  width: 100%;
  display: flex;
  justifyContent: space-evenly;
}

section.settings
nav.navigation.tabs
a.navigation-element.tab {
  min-height: 48px;
  line-height: 48px;
  padding-left: 12px;
  padding-right: 12px;
}

section.settings
form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section.settings
form
fieldset {
  display: inline-block;
  width: max-content;
  height: min-content;
}

section.settings
form
input.number {
  width: 45px;
  height: 23px;
  vertical-align: middle;
  outline: none;
  text-align: center;
}

section.settings
form
input.range {
  vertical-align: middle;
  width: 120px;
  height: 32px;
}
